.intro {
  margin: 0 auto;
    background-color: #2A2C2F;
    max-width: 690px;
    margin-left: 148px;
    padding: 92px 0 92px 0;
  }
  
  @media screen and (max-width: 1024px) {
    .intro {
      margin: 0 48px 0 48px;
    }
  }

  @media screen and (max-width: 768px) {
    .intro {
      max-width: 720px;
      padding: 88px 0px 88px 0px;
      margin: 0 24px 0 24px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro {
      padding: 64px 0px 64px 0px;
      margin: 0 16px 0 16px;
    }
  }